<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link data-th-href="@{/css/main.css?{id}(id=${timestamp})}"
	rel="stylesheet">
<title>Property Service</title>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Property Service
			</div>
		</a>
	</nav>

	<main role="main" class="container">
		<div class="starter-template">
			<h1 th:text="${title}">Default title.</h1>
			<h1 th:text="${msg}">Default text.</h1>
		</div>
	</main>

	<script data-th-src="@{/js/main.js}"></script>
</body>

</html>